body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: ivory;
}

section[class="main-section"] header {
    font-size: 1.5rem;
    font-weight: bold;
}

nav header {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(181, 231, 238);
}

#navbar {
    padding: 10px;
    margin-bottom: 20px;
    background-color:rgb(88, 28, 255);
     line-height: 3;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    background-color: rgb(181, 231, 238);
    color:rgb(10, 19, 19);
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (min-width: 768px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto; /* allows scrolling inside navbar if needed */
    padding: 10px;
    line-height: 1.4;
  }
    main {
    margin-left: 270px; /* pushes content to the right */
  }
  .nav-link {
    display: block;
    margin: 10px 0;
  }
}