body {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  background-color: rgb(247, 238, 245);
}

#email {
    padding: 50px;
    margin: 50px auto;
    width: 500px;
    height: 600px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 5px black;
}

#confidential, #top-secret {
  display: inline-block;
  border: 2px solid red;
  padding: 10px;
  margin-left: 20px;
}

#confidential {
  color: red;
  transform: rotate(-20deg);
}

#top-secret {
  color: red;
  transform: rotate(15deg);
}

.blurred {
  filter: blur(5px);
}