:root {
  --color0: rgb(255, 255, 255); 
  --color1: rgb(210, 220, 255);
  --color2: rgb(160, 180, 255);
  --color3: rgb(110, 140, 255);
  --color4: rgb(60, 90, 230);
  --color5: rgb(20, 40, 160); 
  --solid-border: 2px solid black;
  --dashed-border: 2px dashed black;
}

* {
  box-sizing: border-box;
}

/* Useful for removing the spacing between cells */
table {
  border-collapse: collapse;
}

th {
    padding: 5px 10px;
}

td {
    padding: 10px;
    border-left: 2px solid black;
}
/* Putting border on the right of the table */
tbody tr td:last-child {
  border-right: 2px solid black;
}
/* Putting border on the top of the table */
tbody tr:first-child td {
  border-top: 2px solid black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: ivory;
}

.available-0 {
  background-color: var(--color0);
}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);
}

.available-4 {
  background-color: var(--color4);
}

.available-5 {
  background-color: var(--color5);
}

.sharp td {
  border-bottom: var(--solid-border);
}

.half td {
  border-bottom: var(--dashed-border);
}

table {
  margin: 20px auto;
}

#legend {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.availability {
     display: inline-block;
    vertical-align: middle;
    margin: 0 0.5rem;
}

.legend-scale {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5px;
}

#legend-gradient {
  background-image: linear-gradient(90deg, var(--color0) 0% 17%, var(--color1) 17% 34%, var(--color2) 34% 50%, var(--color3) 50% 67%, var(--color4) 67% 83%, var(--color5) 83% 100%);
    width: 10%;
    min-width: 100px;
    height: 20px;
    border: 1px solid black;
}