body {
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

img {
  display: block;
  margin: 20px auto;
}

#image {
  max-width: 100%;
  height: auto;
}

#main {
    width: 80%;
    margin: 10px auto;
    border: 2px solid black;
    padding: 20px;
    background-color: ivory;
}

footer {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

#title {
    font-size: 2rem;
    font-weight: bold;
}